<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n
        </Property>

        <Property name="LOG_FILE">logs/revpay.log</Property>
    </Properties>

    <Appenders>

        <!-- Console Logger -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>

        <!-- Rolling File Logger -->
        <RollingFile
                name="FileLogger"
                fileName="${LOG_FILE}"
                filePattern="logs/revpay-%d{yyyy-MM-dd}.log.gz">

            <PatternLayout pattern="${LOG_PATTERN}" />

            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>

        <!-- Application Logger -->
        <Logger name="com.revpay" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>

</Configuration>
